body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
    background-image: url('src\assets\fondo.jpg');
}

.mensajitoDeslogeado{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; 
}
.cardContainer{
    width:300px;
    height: 500px;
    position: fixed;
    right:0.5rem;
    bottom:0.5rem;
}

.card-header{
    background-color: rgb(30, 182, 0);
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url('src/assets/fondoChat.jpg');
    height: 100%;
    overflow-y: scroll;
    padding: 0.3rem;
}

.card-body::-webkit-scrollbar{
    display: none;    
}


.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float:right;
    background-color: rgb(64, 151, 151);
    color:white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding: 7px 7px 7px 7px;
}

.recibido{
    display: block;
    float:left;
    background-color: gray;
    color:white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding: 7px 7px 7px 7px;
}

.chatIconContainer{
    position: fixed;
    right:0.5rem;
    bottom:0.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    cursor:pointer;
    background-color: rgb(167, 167, 167);
    border-radius: 100%;
    box-shadow: 0 0 10px 2px rgb(71, 71, 71);
}

.chatIconContainer:hover{
    border-width: 10px;
    border-style:groove;
    border-color:rgb(131, 4, 110);
}
.chatIcon{
    width: 130px;
    height: 130px;
}

.closeIcon{
    position: absolute;
    right:0.5rem;
    top:0.5rem;
    cursor: pointer;
}

.usuarioMensaje{
    font-size: 15px;
    color: black;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-weight: 500; 
}

.horaMensaje{
    color: rgb(187, 187, 187);
    font-size: 13px;
    float: right;
}