<div class="container">
    <table>
        <thead>
          <tr>
            <th>Posicion</th>
            <th>Puntaje</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let punt of tablaPuntajes">
                <td scope="row">{{ punt.posicion }}</td>
                <td>{{ punt.puntaje }}</td>
                <td>{{ punt.usuario }}</td>
                <td>{{ punt.fecha }}</td>
            </tr>
        </tbody>
      </table>
      
</div>
