<body>
    <div class="profilePopUp" *ngIf="profileIsVisible">
        <br>
        <p>{{usuarioPopUp.username}}</p>
        <p>{{usuarioPopUp.email}}</p>
        <img class="imagenPerfilPopUp" src="{{usuarioPopUp.urlImagen}}">
    </div>
    <div *ngIf="!userLogged">
        <p class="mensajitoDeslogeado">DEBE ESTAR LOGEADO PARA VER EL CHAT</p>
    </div>
    <div *ngIf="userLogged && !mostrarChat" class="chatIconContainer" (click)="mostrarChat=true">
        <img src="assets/iconoChat.png" class="chatIcon">
    </div>
    <div class="card text-center cardContainer" *ngIf="userLogged && mostrarChat">
        <div class="card-header">
          CHAT
          <div class="closeIcon" (click)="mostrarChat=false">X</div>
        </div>
        <div id="contenedorDeMensajes" class="card-body">
            <div>
                <p *ngFor="let mensaje of mensajes"  class="msj p-2" [ngClass]="(usuarioActual.userId==mensaje.emisor)?'enviado' : 'recibido'">
                    <span (mouseover)="mostrarPerfil(mensaje)" (mouseleave)="esconderPefil(mensaje)" class="usuarioMensaje">{{mensaje.usuario}}:</span><br>
                    <span>{{mensaje.texto}}</span><br>
                    <span class="horaMensaje">{{mensaje.hora | date:'shortTime'}}</span>
                </p>
            </div>
        </div>
        <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
            <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje">
            <div class="input-group-append" (click)="enviarMensaje()">
                <span class="input-group-text" id="basic-addon2">
                    <img class="imgEnviar" src="assets/sendicon.png" width="25px" alt="send message">
                </span>
            </div>
        </form>
    </div>
</body>
