<body>
    <div class="cuadro">
        <div class="titulo">
            <p class="juegosSubTitulo">Sobre mi:</p>
        </div>
        <div class="hr"></div><br>
        <img class="miFoto" src="./assets/miFoto.jpg">
        <p class="sobreMiDescrip">Mi nombre es Lucas Valdiviezo, soy un estudiante de la Tecnicatura en programación de la
            UTN Facultad Regional de Avellaneda.</p><br>
    </div>
    <div class="cuadroInfo">
        <p class="juegosTitulo">Juegos</p><br><br><br>
        <div class="hrJuegos"></div>
        <p class="juegosSubTitulo">Ahorcado:</p>
        <p class="juegosDescrip">El jugador debera adivinar la palabra, para esto debera elegir una letra y si la letra es correcta se completara sola en la linea rayada, de lo contrario
            se agregara una parte del cuerpo al "ahorcado". Si el jugador comete muchos errores y se completa el cuerpo del ahorcado este perdera.
        </p><br><br>
        <p class="juegosSubTitulo">Mayor o menor:</p>
        <p class="juegosDescrip">Se iniciara mostrando una carta, luego se le preguntara al jugador si la siguiente carta que saldra es mayor o menor a la carta en juego y si adivina sumara un punto.
            En caso de equivocarse el juego terminara.
        </p><br><br>
        <p class="juegosSubTitulo">Juego 3:</p>
    </div>
</body>

