<body>
    <button (click)="mostrarAhorcado()" class="botonAhorcado"></button>
    <button (click)="mostrarMayorMenor()" class="botonMayorMenor"></button>
    <button (click)="mostrarPokemon()" class="botonPokemon"></button>
    <div *ngIf="!ahorcado && !mayorMenor && !pokemon" class="sinJuego">
        <p class="textoSinJuego">Seleccione un juego <br>con los botones de arriba</p><br>
    </div>
    <div *ngIf="ahorcado">
        <app-ahorcado></app-ahorcado>  
    </div>
    <div *ngIf="mayorMenor">
        <app-mayormenor></app-mayormenor>
    </div>
    <div *ngIf="pokemon">
        <app-pokemon (enviarPuntaje)="tomarPuntajeParaTabla($event)"></app-pokemon>
    </div>
    <app-puntaje [puntajeRecibido]="puntajeRecibido"></app-puntaje>
</body>

