<div class="container">
    <div *ngIf="menu;else juego" class="menuStart">
        <p class="menuTitulo">Ahorcado!</p>
        <img src="assets/ahorcado/9.png" class="ahorcado-img-menu"><br>
        <button class="botonComenzar" (click)="elegirPalabra()">Comenzar</button>
    </div>
    <ng-template #juego>
        <div class="row">
            <div class="col text-center">
                <p class="puntaje">Puntos:{{puntos}}</p>
                <img src="assets/ahorcado/{{intentos}}.png" alt="ahorcado-img" class="ahorcado-img">
                <p class="textoIntentos">Intentos {{intentos}}/9</p>
            </div>
        </div>
        <div class="palabraOculta">
            <h1>{{palabraOculta}}</h1>
        </div>
        <div *ngIf="gano" class="pantallaFinal">
            <p class="infoFinal">¡Adivinaste!</p><br>
            <button class="botonVolverAJugar" (click)="elegirPalabra()">Continuar</button>
        </div>
        
        <div *ngIf="perdio" class="pantallaFinal">
            <p class="infoFinal"> PERDISTE! </p>
            <p class="infoFinal"> La palabra era: {{ palabra }} </p><br>
            <button class="botonVolverAJugar" (click)="elegirPalabra()">Volver a Jugar</button>
            <button class="botonVolverAMenu" (click)="volverAMenu()">Volver al Menu</button>
        </div>
        <div class="letras" *ngIf="!gano && !perdio">  
            <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="botonLetras"> {{letra}} </button> 
        </div>
    </ng-template>
    
</div>
